@model WeFix.Domain.Entities.DepartmentManager

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}
<div>
    <h4>Department Manager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentManagerId }) |
    @Html.ActionLink("Back to List", "Management","Organisations")
</p>
