@model WeFix.WebUI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_StartUp.cshtml";
}
@using Microsoft.AspNet.Identity
    @{ 
    var db = new WeFix.Domain.Context.EFDbContext();
        var id = HttpContext.Current.User.Identity.GetUserId();
    var user = db.Users.Find(id);
}
<div class="login-box" style="z-index:5; position:relative;">
    <div class="login-logo">
        <a style="color:#fff;" href="#">We<b>Fix</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Please reset you password as its your first login</p>

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="email" value="@user.UserName" disabled="disabled" readonly="readonly"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
               
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="row">              
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Reset</button>
                </div>
                <!-- /.col -->
            </div>
        }

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->