@model IEnumerable<WeFix.Domain.Entities.Fault>

@using WeFix.Logic
@using WeFix.Domain.Context
@using GoogleMaps.LocationServices
@{ 
    var helper = new Helpers();
    var db = new EFDbContext();
    var gls = new GoogleLocationService();
}
<div class="row">
@foreach (var item in Model)
{
    <div class="col-sm-4" style="border: 3px solid #E6E6FA; border-radius:5px;">
    <!-- Post -->
    <div class="post">
        <div class="user-block">
            @if (item.ImageURL != null)
            {
                <img class="img-circle img-bordered-sm" src="@item.ImageURL.Replace("~","../..")" alt="user image">
            }            
            <span class="username">
                <a href="#">@item.FaultId</a>
            </span>
            <span class="description"><strong>Date</strong> @item.DateCreated</span>
            <span class="description"><strong>Category</strong> @item.Category.Name</span>
            <span class="description"><strong>Sub-Category</strong> @if (item.SubCategory != null) { <text>@item.SubCategory.Name</text>}</span>
            <span class="description"><strong>Severity</strong> @item.SeverityId</span>          
        </div>
        <!-- /.user-block -->
        <p>
            @{ var address = helper.GetAddressFromLatLong(item.Latitude, item.Longitude);}
            <strong>Address:</strong> @address
        </p>
        <p>
            <strong>Description:</strong> @item.Description
        </p>
        @if (item.ManagerId != null)
                {
                    var departmentManager = db.DepartmentManagers.Find(item.ManagerId);
                    var user = db.Users.Find(departmentManager.UserId);
            <p>
                @Html.ActionLink(user.LastName + ", " + user.FirstName, "UnAssignManager", "Organisations", new { id = item.FaultId }, new { @title = "Unassign Manager", @class = "btn btn-flat btn-success" })
            </p>
        }
        else
        {
            <p>
                @Html.ActionLink("Assign", "AssignManager", "Organisations", new { id = item.FaultId }, new { @class = "btn btn-flat btn-primary", @title = "Assign Manager" })
            </p>
        }
        @if (item.Resolved)
                {
            <p>
                @Html.ActionLink("Mark Unresolved", "MarkUnresolved", "Faults", new { id = item.FaultId }, new { @class = "btn btn-falt btn-danger" })
            </p>
        }
        else
        {
            <p>
                @Html.ActionLink("Mark Resolved", "MarkResolved", "Faults", new { id = item.FaultId }, new { @class = "btn btn-success" })
            </p>
        }
        <ul class="list-inline">
            <li>
                <a href="#" onclick="location.href='@Url.Action("Details","Faults",new { id = item.FaultId })'" class="link-black text-sm"><i class="fa fa-info margin-r-5"></i> Details</a>
            </li>           
        </ul>
    </div>
    <!-- /.post -->
        </div>
                }
 </div>